*{
    padding:0;
    margin:0;
    font-family: Helvetica, sans-serif;
}

/*-- HEADER -- */
.logo{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 80px;
    background-image: url(./images/wood-bg.png);
    background-repeat: repeat-x;
}
.logo img {
    display:block;
    margin: auto;
    height: 70%;
    padding-top:15px;
}

